.body {
  background: #3498db;
  padding: 8rem 12rem;
  width: 100%;
}

#lightsImage {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  vertical-align: middle;
}

.bodyH1 {
  color: #ecf0f1;
  font-size: 64px;
  font-family: 'Fredoka One', cursive;
}

.bodyH3 {
  color: #ecf0f1;
  font-size: 33px;
  /* padding: 1rem; */
  /* border: 2px solid white; */
  /* margin-bottom: 3rem; */
}
