/*.message {*/
  /*padding: 8rem 12rem;*/
  /*background: #2ecc71;*/
  /*color: #ecf0f1;*/
/*}*/

.message {
  padding: 6rem 12rem;
  background: #95a5a6;
  background-image: url(../assets/balloons.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-y: bottom;
  color: #ecf0f1;
}

#messageH1 {
  color: #ecf0f1;
  font-size: 64px;
  font-family: 'Fredoka One', cursive;
}

#messageP {
  color: #ecf0f1;
  font-size: 28px;
  font-style: italic;
}
